
.calculateElementDe {
    display: block;
    margin: 1em;
    width: 9em;
    background-color: var(--peru);
    color: var(--darkslategrey);
    border: 1px solid var(--darkslategrey);
}
.calculateElementDa {
    display: block;
    margin: 1em;
    width: 9em;
    background-color: var(--darkslategrey);
    color: var(--gainsboro);
    border: 1px solid var(--gainsboro);
}
.calculateElementLi {
    display: block;
    margin: 1em;
    width: 9em;
    background-color: var(--gainsboro);
    color: var(--darkslategrey);
    border: 1px solid var(--darkslategrey);
}
.calculateResultDe {
    display: block;
    margin: 1em;
}
.calculateResultDe p {
    color: var(--darkslategrey);
}
.calculateResultDe a {
    color: var(--dgray);
}
.calculateResultDa {
    display: block;
    margin: 1em;
}
.calculateResultDa p {
    color: var(--gainsboro);
}
.calculateResultDa a {
    color: var(--vlgray);
}
.calculateResultLi {
    display: block;
    margin: 1em;
}
.calculateResultLi p {
    color: var(--darkslategrey);
}
.calculateResultLi a {
    color: var(--dgray);
}
