
:root {
    --peru: #e16f3a;
    --gainsboro: #dbdbdb;
    --darkslategrey: #20232a;
    --greenyellow: greenyellow;
    --reactblue: #5bccec;
    --slateblue: #764abc;
    --deeppink: #e00097;
    --seagreen: #13a651;
    --googleblue: #4285F4;
    --googlered: #DB4437;
    --googleyellow: #F4B400;
    --googlegreen: #0F9D58;
    --amazonorange: #FF9900;
    --slackblue: #36C5F0;
    --slackgreen: #2EB67D;
    --slackred: #E01E5A;
    --slackyellow: #ECB22E;
    --hslblue: #007AC9;
    --bus: #007AC9;
    --citybike: #FCBC19;
    --tram: #00985F;
    --train: #8C4799;
    --metro: #FF6319;
    --jokerilightrail: #00B2A9;
    --ferry: #00B9E4;
    --ferrylight: #BEE4F8;
    --hslpink: #F092CD;
    --hslpinklight: #F4DEEA;
    --hslgreen: #64BE1E;
    --hslgreenlight: #D0E6BD;
    --hslwarning: #DC0451;
    --hslhighlight: #FED100;
    --dgray: #333333;
    --gray: #616365;
    --lgray: #666666;
    --vlgray: #dddddc;
    --digitransit: #3db7e4;
    --jbamber: #F9A857;
    --jbsiena: #FB5502;
    --jbcrimson: #FB2046;
    --jbcarmine: #E32581;
    --jbfuchsia: #D73CEA;
    --jblilac: #9135E0;
    --jbmauve: #961F8C;
    --jbpurple: #5E2495;
    --jbskyblue: #05C1FD;
    --jbgreen: #18D68C;
    --jblemon: #FCF84A;
    --heroku: #6762a6;
    --font-global: 'Raleway', sans-serif;
}
.app {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.appContainer .headingLi {
    color: var(--darkslategrey);
}
.appContainer .headingDa {
    color: var(--gainsboro);
}
.appContainer .descriptionLi {
    color: var(--darkslategrey);
}
.appContainer .descriptionDa {
    color: var(--gainsboro);
}
.appElements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.appElements:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.appWidgets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.commonElements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
button {
    font-family: var(--font-global);
}

.headingLi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--darkslategrey);
}
.headingDa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--gainsboro);
}
.descriptionLi {
    color: var(--darkslategrey);
    width: 14em;
}
.descriptionDa {
    color: var(--gainsboro);
    width: 14em;
}
.linkLi {
    padding: 0.5em;
    color: var(--darkslategrey);
    text-decoration: none;
}
.linkDa {
    padding: 0.5em;
    color: var(--gainsboro);
    text-decoration: none;
}
.formElementDa {
    display: block;
    margin: 1em;
    width: 9em;
    background-color: var(--darkslategrey);
    color: var(--gainsboro);
    border: 1px solid var(--gainsboro);
    text-align: center;
}
.formElementDa:focus {
    outline-color: var(--greenyellow);
    outline-style: dotted;
}
.formElementLi {
    display: block;
    margin: 1em;
    width: 9em;
    background-color: var(--gainsboro);
    color: var(--darkslategrey);
    border: 1px solid var(--darkslategrey);
    text-align: center;
}
.formElementLi:focus {
    outline-color: var(--greenyellow);
    outline-style: dotted;
}
.notificationNullDa {
    display: block;
    margin: 1em;
    background-color: var(--darkslategrey);
    color: transparent;
    text-align: center;
}
.notificationNullLi {
    display: block;
    margin: 1em;
    background-color: var(--gainsboro);
    color: transparent;
    text-align: center;
}

.notificationInfoDa {
    display: block;
    margin: 1em;
    background-color: var(--darkslategrey);
    color: var(--googlegreen);
    text-align: center;
}
.notificationInfoLi {
    display: block;
    margin: 1em;
    background-color: var(--gainsboro);
    color: var(--googlegreen);
    text-align: center;
}

.notificationErrorDa {
    display: block;
    margin: 1em;
    background-color: var(--darkslategrey);
    color: var(--googlered);
    text-align: center;
}
.notificationErrorLi {
    display: block;
    margin: 1em;
    background-color: var(--gainsboro);
    color: var(--googlered);
    text-align: center;
}
.tile {
    height: 10em;
    width: 10em;
}
.tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.tileDescriptionLi {
    color: var(--darkslategrey);
}
.tileDescriptionDa {
    color: var(--gainsboro);
}
.tileLoading {
    color: var(--googlegreen);
}
.tileError {
    color: var(--googlered);
}
.dashTile {
    height: 3em;
}
.dashTile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dishTile {
}
.dishTile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}