.stopContainer {
    display: block;
    margin: 1em;
}
.stopDetailsLi {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.stopDetailsDa {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.stopDetailsDe {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}